.input {
  height: 2.8rem;
  padding-top: 1.1rem;
  color: #414d59;
}

.input__click-area {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.input__form-control {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  font-size: 1rem;

  border: none;
  border-radius: 0;
  border-bottom: 1px solid #414d59;
  font-weight: 400;
  line-height: 1.5;
  color: #414d59;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: none;
}

.input__form-control:focus {
  outline: none;
}

.input__form-control:-webkit-autofill,
.input__form-control:-webkit-autofill:focus {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #4285f4;
  -webkit-text-fill-color: #4285f4;
}

.input__label {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 1rem;
  transition: transform 0.2s ease-out, color 0.2s ease-out, font-size 0.2s ease-out;
  transform-origin: 0 100%;
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input__info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input_dirty .input__info {
  display: block;
}

.input_active {
  color: #4285f4;
}
.input_active .input__form-control {
  border-color: #4285f4;
}
.input_active .input__form-control:focus {
  box-shadow: 0 1px 0 0 #4285f4;
}
.input_active .input__label {
  transform: translateY(-18px);
  font-size: 0.8rem;
  cursor: pointer;
}

.input_error {
  color: #f44336;
}
.input_error .input__form-control {
  border-color: #f44336;
}
.input_error .input__form-control:focus {
  box-shadow: 0 1px 0 0 #f44336;
}

.input__form-control:-webkit-autofill + .input__label {
  transform: translateY(-22px);
  transform-origin: 0 0;
}
