input {
	padding: 8px;
}

#newGame button {
}

.btn {
  background: #3498db;
  border: 0;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#newGameButton, #gameName, .fullSize {
  width: 100%;
  margin: 0 auto;
}

#newGameButton {
  margin-left: 10px;
  margin-right: 10px;
}

.td.createGameForm{
  width: 70%;
}

.td.newGameButton {
  width: 30%;
}

#createGameForm {
  width: 90%;
  margin: 0 auto;
}



