input {
	padding: 8px;
}

#newGame button {
}

.fullSize {
  width: 100%;
  margin: 0 auto;
}

/*#gameName {*/
  /*width: calc(100% - 150px);*/
  /*float: left;*/

/*}*/

#newGameButton {
  width: 130px;
  float: right;
}

#wrap {
  width: 95%;
  margin: 0 auto;
}

.paper-item {
  background: #006666;
}




